body {    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #201b2d;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.section-title {
    font-size: 30px;
}

.content-title {
    font-size: 19px;
}

p {
    line-height: 1.66em;
}

.container {
    width: 1170px;
    margin: auto;
}

.btn {
    display: block;
    padding: 20px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #2e2a1b;
    background-color: #ffd429;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #faab00;
}

/* header */
.header{
    background: linear-gradient(135deg, rgba(78,191,254,1) 35%, rgba(55,143,217,1) 100%);
}

.header .container {
    padding-top: 62px;
    padding-bottom: 70px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-right: -60px;
    color: #fff;
}

.title {
    font-size: 37px;
    line-height: 1.36em;
}


.intro span {
    font-size: 59px;
    line-height: 1.36em;
}

.intro-content {
    font-family: 'Open Sans', sans-serif;
    width: 400px;
    font-size: 16px;
}

.header .btn {
    width: 220px;
    margin-top: 40px;
}

/* section futute */

.future .container {
    text-align: center;    
    padding-top: 105px;
    padding-bottom: 120px;
}

.advantages {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.advantage {
    width: 288px;
    padding-top: 100px;
}

.free-time {
    background: url('../img/icon1.jpg') no-repeat top center;
}

.journeys {
    background: url('../img/icon2.jpg') no-repeat top center;
}

.worth {
    background: url('../img/icon3.jpg') no-repeat top center;
}

.advantages .text {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

/* section tickets */

.tickets {
    background: #ecf3f8;
}

.tickets .container {
    text-align: center;
    padding: 100px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.input {
    box-sizing: border-box;
    display: block;
    width: 340px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 15px 24px;
    margin-bottom: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
}

.form .btn {
    border: none;
    width: 340px;
    cursor: pointer;
}

/* footer */

.footer {
    font-family: 'Open Sans', sans-serif;
    background: #164d7a;
}

.footer .container {    
    padding: 55px 0;
    text-align: center;    
}

.credits {
    margin: 0;
    color: #fff;
    font-size: 14px;
}


/* Responsive */

/* 993px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .intro-content {
        width: 300px;
    }
}

/* 769px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .header .container{
        padding-top: 50px;
    }

    .wrapper {
        flex-direction: column-reverse;
        margin: 0;
    }

    .intro {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .intro-content {
        width: 90%;
    }
}

/* 577px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .header .container {
        padding-top: 20px;
    }

    .journey, .header .btn, .form .btn, .input {
        width: 100%;
    }

    .future .container {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .advantages {
        flex-direction: column;
        align-items: center;
    }

    .advantage {
        width: 80%;
        margin-bottom: 40px;
    }
}

/* < 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}